:root {
    /*Colors specified by designer*/
    --dark-gray: #1f2937; 
    --main-text: #f9faf8; 
    --secondary-text: #e5e7eb; 
    --button-blue: #3882f6; 

    /*Font specified by designer*/
    font-family: 'Roboto', sans-serif;   
}
/*Some styling on the body and container to fill the screen*/
body {
    height: 100vh;  
    width: 100%;  
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
}

/*Header (nav) styling*/
.header {
    width: 100%;
    display: flex;    
    align-items: center;
    padding-top: 1.2rem;
    background-color: var(--dark-gray);
}
.header-1 {
    color: var(--main-text);    
    font-size: 24px;
    margin-left: 13%;
    width: 30%;
}

.header-2 {
    width: 50%;
    display: flex;    
}
ul {
    list-style: none;
    display: flex;
    gap: 10%; 
    width: 100%;  
    margin-left: 32%;     
}
a {
    text-decoration: none;
    color: var(--main-text);
}

/*Main Content styling*/
main {
    background-color: var(--dark-gray);
    height: 60%;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
}
.main-1{
    width: 30%;    
    color: var(--main-text);
}
h1 {
    font-weight: bolder;
    font-size: 48px;
    width: 25rem;
}
.main-para {
    color: var(--secondary-text);
    width: 24rem;
    font-size: 18px;
}

button {
    background-color: var(--button-blue);
    color: var(--main-text);
    width: 8rem;
    height: 2.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}
button:hover {
    cursor: pointer;
}

img {
    width: 600px;
    height: 300px;
}

/*Styling for random information section*/
.card-section {
    width: 100%;
    padding: 5% 0;
}
.card-container {
    display: flex;
    justify-content: center;    
    gap: 3rem;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: var(--dark-gray);
}

.card {
    border: 4px solid var(--button-blue);
    width: 10rem;
    height: 10rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.paragraphs {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.paragraphs > p {
    width: 10rem;
    text-align: center;
    color: var(--dark-gray);
}

/*Styling for the quote section*/
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    background-color: var(--secondary-text);
    height: 336px;
    font-size: 36px;
    font-style: italic;
    color: var(--dark-gray);    
}

.quote-paragraph {
    padding: 0 28%;
    margin-bottom: 0;
}
h4 {
    margin-left: 53%;
    font-style: normal;
}

/*Styling for the sign up section*/
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 336px;
}
.form {
    background-color: var(--button-blue);    
    display: flex;    
    justify-content: space-around;  
    width: 60%;  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-1 {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    color: var(--main-text);
}
.form-h4 {
    margin: 0;
    font-size: 1.5rem;
}
.form-paragraph {
    padding: 0;
    margin: 0.2rem 0 0 0;
}
.form-2 {
    display: flex;    
    align-items: center;        
}
.form  button {
    border: 1px solid var(--main-text);
    font-size: 1.2rem;

}

/*Styling for the Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--secondary-text);
    height: 100px;

}

